@charset "UTF-8"; /* */
thead th:nth-child(3) {
	width: 150px;
}

ul{
	text-align:right;
	font-weight: bold;
}


ul li {
	display: inline-block;
	position: relative;
	line-height: 21px;
	text-align: left;
}

ul li a {
	display: block;
	padding: 8px 25px;
	text-decoration: none;
}

ul li a:hover {

}

ul li ul.dropdown {
	min-width: 200px; /* Set width of the dropdown */
	background: #fbfbfb;
	display: none;
	position: absolute;
	z-index: 999;
	 padding: 12px 6px;

}

ul li:hover ul.dropdown {
	display: block; /* Display the dropdown */

}

ul li ul.dropdown li {
	display: block;
}

.message {
  text-align: center;
}

.message .success{               /* 登録できた時のメッセージをデザインする */
	text-align: center;
	color : #0000ff;
}

.message .fail{		 /* 登録できなかった時のメッセージをデザインする */
	text-align: center;
	color : #ff0080;
}
