@charset "UTF-8";

.header {
	font-weight : 900;
	font-size : 20px;
	color: #cc0066;
	box-shadow: #ff0080;
	border-style: solid;
	border-color:  #f9ceb3 #f9ceb3 #f9ceb3 #f9ceb3;
	background-color:  #f9ceb3 ;
	padding: 20px;

}

table {
	background : #fde9dd;
	vertical-align:top;
	border-style: solid;
	border-inline: solid #bdaa20;   /* 左と右の線 */
	border-block-color : #bdaa20;	/* 上と下の線 */
	border-collapse: collapse;
	border-width:3px 3px;      /*  四辺が同じ太さにする */
	margin: auto;
	width : 1000px;
}

tbody td{

	vertical-align: top;
	text-align: left;
	width : 150px;
	height : 120px;

}

.test{
	display: block;
	text-align : center;
}

