@charset "UTF-8";

h1 {
	text-align: center;
	color: #ff0080;
	box-shadow: black;
	border-style: solid;
	border-color:  #ff0080 #ffffff #ff0080 #ffffff;
	background-color:  #f9ceb3 ;
	margin: 30px;
	padding: 20px;
	box-shadow: 0 20px 10px -20px inset, 0 -20px 10px -20px  inset;
}

table {
	vertical-align:top;
	border-style: solid;
	border-inline: solid #bdaa20;   /* 左と右の線 */
	border-block-color : #bdaa20;	/* 上と下の線 */
	border-collapse: collapse;
	border-width:3px 3px;      /*  四辺が同じ太さにする */
	margin: auto;
	width : 400px;
}

tbody {		/* scroll bar */
text-align: center;
 display: block;
  overflow-y: scroll;
  height: 250px;
  width : 600px;
}


tbody td{

width : 600px;
height : 30px;
}

tbody tr:nth-child(even) {
	background-color: #fdefcc;
}
