<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Reservation_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpCon</display-name>
    <servlet-name>SignUpCon</servlet-name>
    <servlet-class>controller.SignUpCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpCon</servlet-name>
    <url-pattern>/SignUpCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCon</display-name>
    <servlet-name>LoginCon</servlet-name>
    <servlet-class>controller.LoginCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCon</servlet-name>
    <url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCalendarCon</display-name>
    <servlet-name>UserCalendarCon</servlet-name>
    <servlet-class>controller.UserCalendarCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCalendarCon</servlet-name>
    <url-pattern>/UserCalendarCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTimeRangeCon</display-name>
    <servlet-name>UserTimeRangeCon</servlet-name>
    <servlet-class>controller.UserTimeRangeCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTimeRangeCon</servlet-name>
    <url-pattern>/UserTimeRangeCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserReservationConfirmCon</display-name>
    <servlet-name>UserReservationConfirmCon</servlet-name>
    <servlet-class>controller.UserReservationConfirmCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReservationConfirmCon</servlet-name>
    <url-pattern>/UserReservationConfirmCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAllReservationCon</display-name>
    <servlet-name>UserAllReservationCon</servlet-name>
    <servlet-class>controller.UserAllReservationCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAllReservationCon</servlet-name>
    <url-pattern>/UserAllReservationCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCalendarCon</display-name>
    <servlet-name>AdminCalendarCon</servlet-name>
    <servlet-class>controller.AdminCalendarCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCalendarCon</servlet-name>
    <url-pattern>/AdminCalendarCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminTimeRangeCon</display-name>
    <servlet-name>AdminTimeRangeCon</servlet-name>
    <servlet-class>controller.AdminTimeRangeCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTimeRangeCon</servlet-name>
    <url-pattern>/AdminTimeRangeCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_userReservationDetailCon</display-name>
    <servlet-name>Admin_userReservationDetailCon</servlet-name>
    <servlet-class>controller.Admin_userReservationDetailCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_userReservationDetailCon</servlet-name>
    <url-pattern>/Admin_userReservationDetailCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCreateUserCon</display-name>
    <servlet-name>AdminCreateUserCon</servlet-name>
    <servlet-class>controller.AdminCreateUserCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCreateUserCon</servlet-name>
    <url-pattern>/AdminCreateUserCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateUserCon</display-name>
    <servlet-name>AdminUpdateUserCon</servlet-name>
    <servlet-class>controller.AdminUpdateUserCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateUserCon</servlet-name>
    <url-pattern>/AdminUpdateUserCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCon</display-name>
    <servlet-name>DeleteCon</servlet-name>
    <servlet-class>controller.DeleteCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCon</servlet-name>
    <url-pattern>/DeleteCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NextMonthCon</display-name>
    <servlet-name>NextMonthCon</servlet-name>
    <servlet-class>controller.NextMonthCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NextMonthCon</servlet-name>
    <url-pattern>/NextMonthCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LastMonthCon</display-name>
    <servlet-name>LastMonthCon</servlet-name>
    <servlet-class>controller.LastMonthCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LastMonthCon</servlet-name>
    <url-pattern>/LastMonthCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserReservationUpdateCon</display-name>
    <servlet-name>UserReservationUpdateCon</servlet-name>
    <servlet-class>controller.UserReservationUpdateCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReservationUpdateCon</servlet-name>
    <url-pattern>/UserReservationUpdateCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPersonalPageCon</display-name>
    <servlet-name>UserPersonalPageCon</servlet-name>
    <servlet-class>controller.UserPersonalPageCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPersonalPageCon</servlet-name>
    <url-pattern>/UserPersonalPageCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPasswordChangeCon</display-name>
    <servlet-name>UserPasswordChangeCon</servlet-name>
    <servlet-class>controller.UserPasswordChangeCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPasswordChangeCon</servlet-name>
    <url-pattern>/UserPasswordChangeCon</url-pattern>
  </servlet-mapping>
</web-app>